.base {
  display: initial;
}

.base table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
}

.grid {
  display: grid;
  gap: var(--space-3);
}

.block {
  display: block;
}

.nowrap {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.renderView {
  height: 240px;

  overflow: hidden;
  overflow-y: auto;

  padding: 6px 2px;

  border-radius: 8px;
  overflow-x: auto;
  white-space: pre;
  font-size: 14px;
  line-height: 1.6;
}

.renderView :global(code) {
  line-height: 1.8em;
}

.renderView :global(span.property) {
  color: var(--highlight-property) !important;
  font-weight: bold;
}

.renderView :global(span.value) {
  color: var(--highlight-value);
}

.renderView :global(span.variable) {
  color: var(--highlight-variable);
  font-weight: bold;
}

.renderView :global(span.string) {
  color: var(--highlight-string);
}

.renderView :global(span.number) {
  color: var(--highlight-number);
  font-weight: 600;
}

.renderView :global(span.bracket) {
  color: var(--highlight-bracket);
}

.renderView :global(span.key) {
  color: var(--highlight-key);
  font-weight: bold;
}

.renderView :global(span.keyword) {
  color: var(--highlight-keyword);
}

/* Nuevos estilos para elementos específicos */
.renderView :global(.brace) {
  color: var(--highlight-brace);
  font-weight: bold;
}

.renderView :global(span.bracket-square) {
  color: var(--highlight-bracket-square);
  font-weight: bold;
}

.renderView :global(span.parenthesis) {
  color: var(--highlight-parenthesis);
  font-weight: bold;
}

.renderView :global(span.quote-single) {
  color: var(--highlight-quote-single);
}

.renderView :global(span.quote-double) {
  color: var(--highlight-quote-double);
}

.renderView :global(.colon) {
  color: var(--highlight-colon);
}

.renderView :global(span.comma) {
  color: var(--highlight-comma);
}

.row1 {
  grid-template-columns: repeat(1fr);
}

.col_100 {
  grid-template-columns: repeat(80%, 1fr);
}
.col_70_20 {
  grid-template-columns: 70% 1fr;
  gap: 10px;
}
