.base {
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: space-evenly;
  gap: 2em;
  margin: var(--space-1) 0;
}

.tabs > button {
  border-left: none;
  border-right: none;
}

.tabs > button:not(:first-child):not(:last-child) {
  border-radius: 0;
}

/* Primer botón: quita redondeado derecho */
.tabs > button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-left: 1px solid var(--color-border);
}

/* Último botón: quita redondeado izquierdo */
.tabs > button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-right: 1px solid var(--color-border);
}

.hr {
  border: var(--color-border) solid 1px;
}
